<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  <form 
    [formGroup]="addFormSneaker"
    (ngSubmit)="addSneaker()"
    class="space-y-8 divide-y divide-gray-200"
  >
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Ajout d'une Sneaker
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
      </div>

      <div
        class="mt-6 sm:mt-5 space-y-6 sm:space-y-5"
      >
        <div
          class="form-group sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          <label
            for="label"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Nom de la sneaker *
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex">
              <span
                class="text-xs pb-2 text-zinc-500"
                *ngIf="
                  !addFormSneaker.get('label')?.valid &&
                  addFormSneaker.get('label')?.touched
                "
                >Veuillez entrer un nom de sneaker.</span
              >
            </div>
            <div class="max-w-lg flex rounded-md shadow-sm">
              <input
                type="text"
                name="label"
                id="name"
                required
                class="form-control rounded-md flex-1 block w-full focus:border-orange-600 min-w-0 sm:text-sm border-gray-300"
                placeholder=" Air Jordan 3 « Neapolitan »"
                formControlName="label"
              />
            </div>
          </div>
        </div>

        <div
          class="form-group sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          <label
            for="price"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Prix *
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex">
              <span class="text-xs pb-2 text-zinc-500" *ngIf="
              !addFormSneaker.get('price')?.valid &&
              addFormSneaker.get('price')?.touched">
                Veuillez entrer un prix.
              </span>
            </div>
            <div class="max-w-lg flex rounded-md shadow-sm">
              <input
                type="number"
                name="price"
                id="price"
                required
                class="form-control rounded-md flex-1 block w-full focus:border-orange-600 min-w-0 sm:text-sm border-gray-300"
                placeholder="165€"
                formControlName="price"
              />
            </div>
          </div>
        </div>

        <div
          class="form-group sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          <label
            for="date"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Date de sortie * 
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex">
              <span class="text-xs pb-2 text-zinc-500" *ngIf="
              !addFormSneaker.get('release_date')?.valid &&
              addFormSneaker.get('release_date')?.touched"
                >Veuillez entrer une date valide.</span
              >
            </div>
            <div class="max-w-lg flex rounded-md shadow-sm">
              <input
                type="date"
                name="date"
                required
                class="bg-gray-50 form-control rounded-md flex-1 block w-full focus:border-orange-600 min-w-0 sm:text-sm border border-gray-300 text-gray-900 focus:ring-orange-500 p-2.5"
                placeholder="Choisissez une date"
                formControlName="release_date"
              />
            </div>
          </div>
        </div>

        <div
          class="form-group sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          <label
            for="description"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Description *
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <textarea
                formControlName="description"
                name="description"
                id="description"
                rows="10"
                required
                class="form-control rounded-md flex-1 block w-full focus:border-orange-600 min-w-0 sm:text-sm border-gray-300"
              ></textarea>
            </div>
          </div>
        </div>

        <div
          class="form-group sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
        >
          <label
            for="image"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Image * 
          </label>
          <div class="mt-2 sm:mt-0 sm:col-span-2">
            <div
              class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
            >
              <div class="space-y-1 text-center">
                <svg
                  class="mx-auto h-12 w-12 text-gray-400"
                  stroke="currentColor"
                  fill="none"
                  viewBox="0 0 48 48"
                  aria-hidden="true"
                >
                  <path
                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <div class="flex text-sm text-zinc-60 rounded">
                  <input
                    type="url"
                    name="image"
                    (change)="onFileChanged($event)"
                    class="form-control rounded bg-gray-100 text-xs pr-2"
                    required
                    accept="JPG"
                    aria-label="file download"
                  />
                </div>
                <p class="text-xs text-gray-500">JPG jusqu'à 10MB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <button
          type="button"
          class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2"
        >
          Annuler
        </button>
        <button
          [disabled]=""
          type="submit"
          class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
