<ng-container *ngIf="display | async as display">
  <section [class.open]="display === 'open'" (click)="close()">
    <div (click)="$event.stopPropagation()">
      <div class="header">
        <h3 class="">
          Suppresion de votre compte
         </h3>
        <button
          title="close"
          type="button"
          class="close"
          type="button"
          (click)="close()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <hr />
      <div class="body">
        <p>
          Confirmation de suppression de votre compte. <br />

          Si vous supprimez votre compte, toutes les informations relier seront perdues
          pour toujours.
        </p>
      </div>
      <hr />

      <div class="button">
        <button
          class="bg-orange-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
          type="button"
          (click)="close()"
        >
          Annuler
        </button>
        <button
          type="button"
          class="text-orange-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-orange-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
          (click)="deleteAccount()"
        >
          Supprimer
        </button>
      </div>
    </div>
  </section>
</ng-container>
