[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[packages]
dj-database-url = "==0.4.1"
django = "==4.0.4"
psycopg2 = "==2.9.3"
whitenoise = "==3.2"
djangorestframework = "==3.13.1"
scrapy = "*"
scrapy-djangoitem = "==1.1.1"
sqlalchemy = "*"
django-cors-headers = "==3.13.0"
pillow = "*"
scrapy-selenium = "*"
django-environ = "*"
gunicorn = "==19.9.0"
django-on-heroku = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.9"