<div class="shadow sm:rounded-md sm:overflow-hidden">
  <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Votre inventaire
      </h3>
      <p class="mt-1 text-xs text-gray-500">
        Vous pourrez gerer votre inventaire ici.
      </p>
    </div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Vos statistic</h3>
      <p class="mt-1 text-xs text-gray-500">
        Moyenne d'une paire en € :{{ averageOfSneaker }}
      </p>
      <p class="mt-1 text-xs text-gray-500">Marque plus acheter :</p>
      <p class="mt-1 text-xs text-gray-500">
        Nombres de paire :{{ sneakerList.length }}
      </p>
    </div>
    <div class="flex flex-row items-start gap-2 p-2">
      <div *ngFor="let sneakerItem of sneakerList" class="">
        <p></p>
        <h3 class="mt- 4 text-sm text-gray-700">{{ sneakerItem.label }}</h3>

        <a [routerLink]="['/sneakers', sneakerItem.id]" class="block">
          <img
            src="{{ sneakerItem.image }}"
            alt="Images of different sneakers"
            class="w-80 object-center object-cover group-hover:opacity-75 rounded"
          />
        </a>
      </div>
      <div class="w-1/2">
        <button title="delete" type="submit" class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="px-4 py-3 bg-gray-50 text-right sm:px-6"></div> -->
</div>
